
@{
    Layout = null;
}

<style>
    #logo {
        width: 80%;
    }

    #title {
        font-size: 40px;
    }

    #header {
        border-radius: 5px;
    }

    td, tr {
        font-size: 30px;
    }

    #footer {
        color: #989494;
    }
</style>

<div id="container" class="container">
    <center><img id="logo" src="~/Content/Images/logo2.jpg" /></center>
    <center><h1 id="title">APPLICANT INFORMATION</h1></center>
    <hr id="header" />
    <br />
    <br />
    <table>
        <tr>
            <td>Date of Visit</td>
            <td>&emsp;:&emsp;@Model.Date</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>&emsp;:&emsp;@Model.Name</td>
        </tr>
        <tr>
            <td>Applying For</td>
            <td>&emsp;:&emsp;@Model.ApplyingFor</td>
        </tr>
        <tr>
            <td>Type of ID</td>
            <td>&emsp;:&emsp;@Model.TypeOfId</td>
        </tr>
        <tr>
            <td>Designation</td>
            <td>&emsp;:&emsp;@Model.Designation</td>
        </tr>
        <tr>
            <td>ID Number</td>
            <td>&emsp;:&emsp;@Model.IdNumber</td>
        </tr>
        <tr>
            <td>Time In</td>
            <td>&emsp;:&emsp;@Model.TimeIn</td>
        </tr>
        <tr>
            <td>Time Out</td>
            <td>&emsp;:&emsp;@Model.TimeOut</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>&emsp;:&emsp;@Model.Comment</td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <div class="footer text-muted">
        <p id="footer"> &copy; 2017. - Anderson Group BPO Inc. | Anderson.Logbook - Private and Confidential.</p>
    </div>
</div>
