@{
    Layout = null;
}

<style>
    .container {
        margin: 0px;
        padding: 0px;
    }

    #logo {
        height: 50px;
        width: 100px;
    }

    label {
        font-size: 36.5px;
        font-family: Eras ITC;
    }

    hr {
        padding: 0px;
        margin: 0px;
    }

    img {
        margin-top: 10px;
    }

    #footer {
        font-size: 8px;
    }
</style>

<div class="container">
    <div id="title" class="container">
        <img id="logo" src="~/Content/Images/logo.png" />
        <label>&nbsp;&nbsp;APPLICANT</label>
    </div>
    <hr />
    <br />
    <table>
        <tr>
            <td>Name&emsp;&emsp;&emsp;:</td>
            <td>&emsp;<span>@Model.Name</span></td>
        </tr>
        <tr>
            <td>Applying For&nbsp;:</td>
            <td>&emsp;<span>@Model.ApplyingFor</span></td>
        </tr>
        <tr>
            <td>Designation&emsp;:</td>
            <td>&emsp;<span>@Model.Designation</span></td>
        </tr>
        @*<tr>
            <td>Person To Visit&emsp;:</td>
            <td>&emsp;<span>@Model.PersonToVisit</span></td>
        </tr>*@
    </table>
    <br />
    <br />
    <div class="footer text-muted">
        <p id="footer"> &copy; 2017. - Anderson Group BPO Inc. | Anderson.Logbook - Private and Confidential.</p>
    </div>
</div>
