
@{
    Layout = null;
}

<style>
    #logo {
        width: 80%;
    }

    #title {
        font-size: 40px;
    }

    #header {
        border-radius: 5px;
    }

    td, tr {
        font-size: 30px;
    }

    #footer {
        color: #989494;
    }
</style>

<div id="container" class="container">
    <center><img id="logo" src="~/Content/Images/logo2.jpg" /></center>
    <center><h1 id="title">INTERN INFORMATION</h1></center>
    <hr id="header" />
    <br />
    <br />
    <table>
        <tr>
            <td>Date</td>
            <td>&emsp;:&emsp;@Model.Date</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>&emsp;:&emsp;@Model.Name</td>
        </tr>
        <tr>
            <td>School</td>
            <td>&emsp;:&emsp;@Model.School</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>&emsp;:&emsp;@Model.Department</td>
        </tr>
        <tr>
            <td>Supervisor</td>
            <td>&emsp;:&emsp;@Model.Supervisor</td>
        </tr>
        <tr>
            <td>ID Number</td>
            <td>&emsp;:&emsp;@Model.IdNumber</td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />  
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <div class="footer text-muted">
        <p id="footer"> &copy; 2017. - Anderson Group BPO Inc. | Anderson.Logbook - Private and Confidential.</p>
    </div>
</div>
