
@{
    ViewBag.Title = "Index";
}

<style>
    .container {
        width: 100% !important;
    }
</style>

<div class="container" style="padding:20px;">
    <div class="panel panel-flat" style="padding-top:50px; padding-bottom:50px">
        <div class="panel-body container">
            @*<center><h2>Welcome to</h2></center>*@
            <div class="jumbotron">
                <center><img src="~/Content/Images/logo2.jpg" class="about-title" style="width: 100%; float: initial"></center>
            </div>
            

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="footer text-muted">
        &copy; 2017. - Anderson Group BPO Inc. | <a href="#">Anderson.Logbook</a> - Private and Confidential.
    </div>
</div>