@{
    ViewBag.Title = "Index";
}
<br />
<div class="jumbotron" style="background-color: #fff; border-width: 10px; @*border-radius: 25px;*@ border-color: #dcdcdc;">

    <center>
        <br />
        <br />
        <a href="/Home/Index" style="text-decoration:none;"> <img src="~/Content/Images/aboutUs_logo.jpg" width="50%" /> </a>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div>
            <p style="font-size: 20px;">
                <span style="color: #2b358a !important">Anderson Logbook</span> is an internal visitor management system intended for Anderson Group BPO Inc.<br />
                It maximizes log efficiency, secure data log, organizes visitor information, and store files.<br />
                The system implementation prioritizes security of the company.<br />
            </p>
        </div>
        <br />
        <br />
        <br />
        <h3 style="color: #2b358a !important">Developers</h3>
        <p style="font-size:16px;">
            Jayson A. Aguila | Hanz Paolo L. Salando | <a href="https://www.linkedin.com/in/jhomar-abancio-6b2385158/"> Jhomar P. Abancio</a> | <a href="https://www.linkedin.com/in/ker-joshua-montero-96b318158/"> Ker Joshua T. Montero</a>
            | <a href="https://www.linkedin.com/in/robert-brian-sanchez-693047138/"> Robert Brian R. Sanchez</a> | <a href="https://www.linkedin.com/in/matthew-brandon-hontiveros-13a384158/"> Matthew Brandon C. Hontiveros</a> | <a href="https://www.linkedin.com/in/paul-john-perez-7a066b15a/"> Paul John T. Perez</a> 
        </p>
    </center>
</div>