
@{
    ViewBag.Title = "Index";
}

<br />
@*<center><h1 style="color: #2b358a !important;">About</h1></center><br />*@

<div class="jumbotron" style="background-color: #fff; border-width: 10px; @*border-radius: 25px;*@ border-color: #dcdcdc;">

    <center>
        <br />
        <br />
        <a href="/Home/Index" style="text-decoration:none;"> <img src="~/Content/Images/aboutUs_logo.jpg" width="50%" /> </a>
        @*<h3 style="color: #2b358a !important">Version 1.0</h3>*@
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div @*class="jumbotron" style="border-radius: 25px; background-color: #fff; margin-left:10%; margin-right: 10%; border-width: 10px;"*@>
            <p style="font-size: 20px;">
                <span style="color: #2b358a !important">Anderson Logbook</span> is an internal visitor management system intended for Anderson Group BPO Inc.<br />
                It maximizes log efficiency, secure data log, organizes visitor information, and store files.<br />
                The system implementation prioritizes security of the company.<br />
            </p>
        </div>
        <br />
        <br />
        <br />



        <h3 style="color: #2b358a !important">Developers</h3>
        <p style="font-size:16px;">Jayson A. Aguila | Hanz Paolo L. Salando</p>
    </center>
</div>


