
@{
    ViewBag.Title = "Index";
}

<br />
<h3 style="color: #2b358a !important;">About</h3><br />

<div class="jumbotron">

    <center>
        <img src="~/Content/Images/log.png" />
        <h3 style="color: #2b358a !important">version 1.0</h3>
        <br />
        <p>
            <span style="color: #2b358a !important">Electronic Logbook</span> is an internal system for Anderson Group BPO Inc.<br /> <br />
            <span style="color: #2b358a !important">Electronic Logbook</span> lets you record the information of visitors and interns who visit the office.
        </p>
        <br />

        <h3 style="color: #2b358a !important">Developer</h3>
        <p style="font-size:16px;">Jayson A. Aguila</p>
    </center>
</div>


