
@{
    ViewBag.Title = "Index";
}

<style>
    #myInput {
        float: right;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        box-shadow: none;
        border-color: #cccccc;
    }

    #searchLogo {
        border-left: none;
        pointer-events: none;
    }

    #historyButton {
        float: left;
    }
</style>

<center><h3>&nbsp;Employee Log</h3></center>