@{
    ViewBag.Title = "Index";
}

<div ng-controller="EmployeeLogController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../EmployeeLog/Create" class="btn btn-default">Log</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>EmployeeLogId</th>
                        <th>LogDate</th>
                        <th>EmployeeId</th>
                        <th>LogTypeId</th>
                        <th>EmployeeNumber</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="employeelog in model.EmployeeLogs">
                        <td><span ng-bind="employeelog.EmployeeLogId"></span></td>
                        <td><span ng-model="date" ng-bind="employeelog.LogDate"></span></td>
                        <td><span ng-bind="employeelog.EmployeeId"></span></td>
                        <td><span ng-bind="employeelog.LogTypeId"></span></td>
                        <td><span ng-bind="employeelog.EmployeeNumber"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.Delete(employeelog.EmployeeLogId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>