@{
    ViewBag.Title = "Index";
}

<center><h3>&nbsp;EmployeeLog</h3></center>
<div ng-controller="EmployeeLogController as model" ng-init="model.Initialise()">
    <br />
    <a id="insertButton" href="/EmployeeLog/InsertLog" class="btn btn-primary" role="button" @*ng-click="model.Create()"*@ style="margin: 5px; float: right"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>


    <div class="row">
        <div class="col-sm-2">
            <div class="input-group">
                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here..." style="margin: 5px" />
                <div class="input-group-btn" pointer-event="none">
                    <button id="searchLogo" class="btn btn-default" style="margin: 5px"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered " id="tableid">
                <thead>
                    <tr class="thead-inverse">
                        <th>Employee Log ID</th>
                        <th>Log Date</th>
                        <th>Employee ID</th>
                        <th>Log Type ID</th>
                        <th>Employee Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="alert" ng-repeat="employeelog in model.EmployeeLogs">
                        <td><span ng-bind="employeelog.EmployeeLogId"></span></td>
                        <td><span ng-model="date" ng-bind="employeelog.LogDate | date:'yyyy/MM/dd HH:mm' "></span></td>
                        <td><span ng-bind="employeelog.EmployeeId"></span></td>
                        <td><span ng-bind="employeelog.LogName"></span></td>
                        <td><span ng-bind="employeelog.EmployeeNumber"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.Delete(employeelog.EmployeeLogId)">Delete</a></li>
                                </ul>

                                <script src="~/Scripts/search.js"></script>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>