@{
    ViewBag.Title = "Index";
}

<style>
    #myInput {
        float: right;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        box-shadow: none;
        border-color: #cccccc;
    }

    #searchLogo {
        border-left: none;
        pointer-events: none;
    }
</style>

<center><h3>&nbsp;Intern History Information</h3></center>
<div ng-controller="InternHistoryController as model" ng-init="model.List()">
    <br />
    <div class="navbar-collapse collapse" id="navbar-filter">
        <script src="~/Scripts/search.js"></script>
        <div class="row">
            <div class="input-group">
                <a href="/Intern/Index" class="btn btn-warning btn-md"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here..." />
                <div class="input-group-btn">
                    <button id="searchLogo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-hover table-sm table-bordered " id="tableid">
        <thead>
            <tr class="active">
                <th>Last Date of Visit</th>
                <th>Name</th>
                <th>School</th>
                <th>Department</th>
                <th>ID Number</th>
                <th>Time In</th>
                <th>Time Out</th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert" ng-repeat="InternHistory in model.InternHistories | orderBy: '-Name'" style="cursor:pointer" filter="">
                <td><span ng-bind="InternHistory.Date"></span></td>
                <td><span ng-bind="InternHistory.Name"></span></td>
                <td><span ng-bind="InternHistory.School"></span></td>
                <td><span ng-bind="InternHistory.Department"></span></td>
                <td><span ng-bind="InternHistory.IdNumber"></span></td>
                <td><span ng-bind="InternHistory.TimeIn"></span></td>
                <td><span ng-bind="InternHistory.TimeOut"></span></td>
            </tr>
        </tbody>
    </table>
</div>