
@{
    ViewBag.Title = "Add";
}

<h3>Visitor Log sheet</h3>


<div id="Add" ng-controller="VisitorController as model" ng-init="model.TryF()">
    <div style="width: 100%">
        <div style="width: 25%; float: left; display: inline-block;" ng-init="model.CreateVisitor('@Model.Date','@Model.TimeIn', '@Model.TimeOut')">
            <br />
            <label for="Date">Date:</label>
            <input type="text" class="form-control" id="Date" ng-model="model.Visitor.Date" />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="Name" ng-model="model.Visitor.Name" />
            <label for="CompanyName">Company Name:</label>
            <input type="text" class="form-control" id="CompanyName" ng-model="model.Visitor.CompanyName" />
            <label for="Purpose">Purpose of Visit:</label>
            <select class="form-control" id="Purpose" ng-model="model.Visitor.Purpose">
                <option value="Applicant"><span>Applicant</span></option>
                <option value="Visitor"><span>Visitor</span></option>
            </select>
            <div class="form-group" ng-controller="EmployeeController as employeeModel" ng-init="employeeModel.Initialise()">
                <label>Person to Visit</label>
                <ui-select ng-model="model.Visitor.PersonToVisita">
                    <ui-select-match placeholder="Select Employee...">
                        <span ng-bind="$select.selected.FullName"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="employee in (employeeModel.Employees | filter: $select.search) track by $index">
                        <span ng-bind="employee.FullName"></span>
                    </ui-select-choices>
                </ui-select>

            </div>
            <label for="Designation">Designation:</label>
            <select class="form-control" id="Designation" ng-model="model.Visitor.Designation">
                <option disabled selected value="">-- select designation --</option>
                <option value="ANDERSON INTERNATIONAL DMCC"><span>ANDERSON INTERNATIONAL DMCC</span></option>
                <option value="ALEXANDER MANN SOLUTIONS"><span>ALEXANDER MANN SOLUTIONS</span></option>
                <option value="BALBOA DIGITAL"><span>BALBOA DIGITAL</span></option>
                <option value="BUSINESSPRO ASIA INC."><span>BUSINESSPRO ASIA INC.</span></option>
                <option value="CLARUS RCM INFOTECH (INDIA) PRIVATE LIMITED"><span>CLARUS RCM INFOTECH (INDIA) PRIVATE LIMITED</span></option>
                <option value="DIGITAL ATHLETE PTY LIMITED"><span>DIGITAL ATHLETE PTY LIMITED</span></option>
                <option value="ELEARNING EDGE INC / FUTURE PROOF"><span>ELEARNING EDGE INC / FUTURE PROOF</span></option>
                <option value="HUMAN DYNAMIC PHILIPPINES CONSULTANCY INC."><span>HUMAN DYNAMIC PHILIPPINES CONSULTANCY INC.</span></option>
                <option value="IoT INTERNATIONAL PTY LIMITED"><span>IoT INTERNATIONAL PTY LIMITED</span></option>
                <option value="IT SUPPORT LIMITED"><span>IT SUPPORT LIMITED</span></option>
                <option value="MARIA DOROTHEA T. MACANAIG"><span>MARIA DOROTHEA T. MACANAIG</span></option>
                <option value="STARSON INTERNATIONAL LIMITED"><span>STARSON INTERNATIONAL LIMITED</span></option>
                <option value="STONESTEP SA"><span>STONESTEP SA</span></option>
                <option value="SUITED CONNECTOR BPO INC."><span>SUITED CONNECTOR BPO INC.</span></option>
                <option value="TENPATH LLC"><span>TENPATH LLC</span></option>
                <option value="TRYPOD PHILIPPINES"><span>TRYPOD PHILIPPINES</span></option>
                <option value="VISTA LAND & LIFESCAPES INC"><span>VISTA LAND & LIFESCAPES INC</span></option>
            </select>
            <label for="KindOfId">Type of ID:</label>
            <input type="text" class="form-control" id="KindOfId" placeholder="SSS, GSIS, Voter's ID...'" ng-model="model.Visitor.KindOfId" />
            <label for="IdNumber">ID Number:</label>
            <input type="text" class="form-control" id="IdNumber" ng-model="model.Visitor.IdNumber" />
            <label for="TimeIn">Time In:</label>
            <input type="text" class="form-control" id="TimeIn" ng-model="model.Visitor.TimeIn" />
            <label for="Comment">Comment:</label>
            <textarea rows="4" cols="50" class="form-control" id="Comment" ng-model="model.Visitor.Comment" placeholder="Enter comment..."></textarea>
            <br />
            <a href="/Visitor/Index" class="btn btn-success" role="button" ng-click="model.Create(visitor) " style="margin-right:5px;float: left"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>
            <a href="/Visitor/Index" class="btn btn-warning" role="button" style="margin-right: 10px; float:left"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
        </div>
        <div id="webcam">
            <div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <video style="border: 5px solid; object-fit: fill;" id="video" width="380" height="325" autoplay></video>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <canvas style="border: 5px solid; object-fit: fill;" id="canvas" height="317" width="380"></canvas>
            </div>
            <div>
                <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#" id="capture" onclick="download()"><button class="btn btn-primary"><i class="glyphicon glyphicon-camera"> </i> Capture</button></a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp;
                @*<form action="/Visitor/upload" method="post" enctype="multipart/form-data">*@
                <a href="#" download="visitor_picture.png" id="save"><button class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save Picture </button></a>
                @*<input type="file" name="photo">*@
                @*</form>*@

            </div>
            <script src="~/Scripts/webcam.js"></script>
        </div>
    </div>
</div>